
#gameScreen{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    background-image: url("../images/Mesa.png");
    font-family: magicmedieval;
    color: #fff;
}

#btnCloseEUS{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(203, 0, 0, 0.4) 0 2px 4px,rgba(255, 0, 0, 0.995) 0 7px 13px -3px,#BD5532 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    background-color: black;
    /* background-image: url("../images/background.jpg"); */
    margin-left: 95%;
    margin-top: 5px;
    
}

#btnCloseEN{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(203, 0, 0, 0.4) 0 2px 4px,rgba(255, 0, 0, 0.995) 0 7px 13px -3px,#BD5532 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    background-color: black;
    /* background-image: url("../images/background.jpg"); */
    margin-left: 95%;
    margin-top: 5px;
    
}

#btnConfirmEndRound{
    color:red;
    margin: auto;
    width: 100px;
    height: 55px;
    margin-left: 1450px;
    margin-top: 335px;
    padding: 15px;
    font-size: 20px;
    position:absolute;
    font-family: magicmedieval;
    cursor: pointer;
}

#btnDenyEndRound{
    color:red;
    margin: auto;
    width: 100px;
    height: 55px;
    margin-left: 1550px;
    margin-top: 335px;
    padding: 15px;
    font-size: 20px;
    position:absolute;
    font-family: magicmedieval;
    cursor: pointer;
}


#controlScreenEN{ 
    height: 1080px;
    width: 1920px;
    background-image: url("../images/Controls_EN.png");
}


#controlScreenEUS{
    height: 1080px;
    width: 1920px;
    background-image: url("../images/Controls_EUS.png");
}

@font-face {
    font-family: magicmedieval;
    src: url(../fonts/Magicmedieval-pRV1.ttf);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background-position: center;
    background-size: cover;
}

body{
    background: url('../images/background.jpg')no-repeat;
    background-size: 100% 100%;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 0%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
/* input:focus ~ label,
input:valid ~ label{
top: -5px;
} */
.inputbox input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
/* .forget{
    background-color: red;
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
} */

#forgetbtn{
    margin-top: 20px;
    align-items: center;
    width: 40%;
    height: 30px;
    color: #fff;
    /* background: #fff; */
    cursor: pointer;
    font-size: 1em;
    font-weight: 20;

}

.forgetbtn p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.LogInbutton{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

html {
    background-color: white;
}

/* FUNCIONAL */
#btnLogin{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#btnLogin_forgot{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#btnLogin_Register{

    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.btnLogout{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#3d7ac4 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    background-color: black;
    /* background-image: url("../images/background.jpg"); */
    margin-left: 50px;
    margin-top: 5px;
}

#btnBack{
    align-items: center;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;

}

#btnBack_register{

    align-items: center;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    

}


#btnPlay{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#sectionLogIn
#sectionPlay

#btn btn-primary{

    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

/*//////////////////////////////////////////////////////////////////////////////////// 
///////     ADMIN SCREEN
//////////////////////////////////////////////////////////////////////////////////////*/

#btnStart {
    --b: 3px;   /* border thickness */
    --s: .15em; /* size of the corner */
    --c: #BD5532;
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
  }
  #btnStart:hover,
  #btnStart:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
  }
  #btnStart:active {
    background: var(--c);
    color: #fff;
  }
/*   
  body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    place-content: center; */
    /* background: #DAEDFB;
  } */
  #btnStart {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    margin: .1em;
  }


#btnAdmin {
    --b: 3px;   /* border thickness */
    --s: .15em; /* size of the corner */
    --c: #BD5532;
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
  }
  #btnAdmin:hover,
  #btnStart:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
  }
  #btnAdmin:active {
    background: var(--c);
    color: #fff;
  }
  #btnAdmin {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    margin: .1em;
  }

  

#btnPlayer {
    --b: 3px;   /* border thickness */
    --s: .15em; /* size of the corner */
    --c: #BD5532;
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
  }
  #btnPlayer:hover,
  #btnPlayer:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
  }
  #btnPlayer:active {
    background: var(--c);
    color: #fff;
  }
  #btnPlayer {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    margin: .1em;
  }

/* //////////////////////////////////////////////////////////////////////////////////// 
///////     ADMIN SCREEN
//////////////////////////////////////////////////////////////////////////////////////*/
#adminScreen {
    float: left;
    width: 300px;
    height: 300px;
    /* background-color: purple; */
    margin: auto;
    /* margin-top: 10px; */
    margin-left: 200px;
}

#dechControl {
    float: right;
    width: 1000px;
    height: 100px;
    /* background-color: green; */
    margin: auto;
    margin-left: 2000px;
    /* margin-top: 90px; */
}

#dechRectangle{
    float: right;
    width: 995px;
    height: 300px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 1px rgb(231, 227, 227),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin-top: 10px;
    margin-right: 5px;
}

#playerControl {
    float: right;
    width: 1000px;
    height: 100px;
    /* background-color: green; */
    margin: auto;
    margin-top: 100px;
}
#playerRectangle {
    float: right;
    width: 995px;
    height: 300px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 1px rgb(255, 255, 255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin: auto;
    margin-top: 10px;
    margin-right: 10px;
}

#adminSection{
    /* background-image: url("../images/background.jpg"); */
    margin: auto;
    margin-top: 50px;
    width: 1664px; 
    height: 100vh; 
    /* background-color: red; */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.01);
}

#last30days{
    margin-top: 100px;
    width: 375px;
    height: 1000px;
    /* background-color: #00ff3c83; */
    margin-left: 130px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 1px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
}


#adminName{
    font-family: "JetBrains Mono",monospace;
    font-size: 60px;
    padding-left: 20px;
    color: white;
}

#secondTitle{
    font-family: "JetBrains Mono",monospace;
    font-size: 40px;
    padding-left: 22px;
    color: white;
}

#a30days{
    font-family: "JetBrains Mono",monospace;
    font-size: 30px;
    margin-left: 25px;
    color: white;

}

#barra{
    font-family: "JetBrains Mono",monospace;
    font-size: 30px;
    margin-left: 25px;
    color: white;
}


/* #boton{
    font-size: 25px;
    padding-left: 5px;
}  */
/* CSS */
#boton {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#5858af 0 -3px 0 inset;
    box-sizing: border-box;
    color: #8990dd;
    background-color: #FCFCFD;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    background-color: black;
    /* background-image: url("../images/background.jpg"); */
}

#boton:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#boton:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


/* //////////////////////////////////////////////////////////////////////////////////// 
///////     PLAYER SCREEN
//////////////////////////////////////////////////////////////////////////////////////*/


#playerMenuScreen{
    /* background-image: url("../images/background.jpg"); */
    margin: auto;
    margin-top: 50px;
    width: 1664px; 
    height: 100vh; 
    /* background-color: red; */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.01);
}

#playerScreen {
    float: left;
    width: 300px;
    height: 300px;
    /* background-color: purple; */
    margin: auto;
    margin-top: 80px;
    margin-left: 300px;
}

#winrate{
    /* float: left; */
    width: 500px;
    height: 60px;
    /* background-color: rgb(120, 27, 27); */
    margin-top: 450px;
    margin-left: 200px;
    font-family: "JetBrains Mono",monospace;
    font-size: 20px;
}

#gamesWon{
    /* float: left; */
    width: 500px;
    height: 60px;
    /* background-color: rgb(120, 27, 27); */
    margin-top: 70px;
    margin-left: 200px;
    font-family: "JetBrains Mono",monospace;
    font-size: 20px;
    
}
#totalGames{
    /* float: left; */
    width: 500px;
    height: 60px;
    /* background-color: rgb(120, 27, 27); */
    margin-top: 70px;
    margin-left: 200px;
    font-family: "JetBrains Mono",monospace;
    font-size: 20px;
}

#selectRival{
    float: right;
    width: 400px;
    height: 700px;
    /* background-color: #36395A; */
    margin: auto;
    margin-top: 90px;
    margin-right: 200px;
    padding: 20px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#logOutButton{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

#selectDifficult{
    margin-left: 950px;
    margin-top: 40px;
    color: white;
    font-size: 10;
}

#playerPicture{
    margin-left: 65px;
}

#playerName{
    font-family: "JetBrains Mono",monospace;
    font-size: 60px;
    padding-left: 20px;
    color: white;
    text-align:center;
}

#rivalLetter{
    font-family: "JetBrains Mono",monospace;
    font-size: 30px;
    margin-left: 45px;
    color: white;
}



#difficultButton{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#3d7ac4 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    background-color: black;
    /* background-image: url("../images/background.jpg"); */
    margin-left: 50px;
    margin-top: 5px;
}

#btnNormal{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#3d7ac4 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    background-color: black;
    /* background-image: url("../images/background.jpg"); */
    margin-left: 50px;
    margin-top: 5px;
}
#btnNormal:focus {
    box-shadow: #a9a9f3 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #acacfc 0 -3px 0 inset;
  }
  
#btnNormal:active {
    box-shadow: #b1b1ff 0 3px 7px inset;
    transform: translateY(2px);

}

p{
    padding-left: 10px;
    color: white;
}

h3{
    font-family: "JetBrains Mono",monospace;
    font-size: 23px;
    margin-left: 25px;
}


#difficultButton:focus {
    box-shadow: #a9a9f3 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #acacfc 0 -3px 0 inset;
  }
  
#difficultButton:active {
    box-shadow: #b1b1ff 0 3px 7px inset;
    transform: translateY(2px);

}
#lblError{
    color: red;
    font-weight: bold;
}

#lblErrorForgot{
    color: red;
    font-weight: bold;
}

#lblErrorRegister{
    color: red;
    font-weight: bold;
}

#lblSessionUser{
    font-weight: bold;
}

#userList{
    float: right;
    width: 400px;
    height: 600px;
    color: white;
    /* background-color: #36395A; */
    margin: auto;
    margin-top: 200px;
    /* margin-right: 50px; */
    padding: 20px;
}

#selectUserList{
    margin-top: 50px;
    margin-left: 130px;
    display: inline-block;
	width: 50%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

#headingUserList{
    margin-top: 0px;
}

#btnTurn{
    color:red;
    margin: auto;
    width: 100px;
    margin-left: 1550px;
    margin-top: 475px;
    padding: 15px;
    position:absolute;
    font-family: magicmedieval;
    cursor: pointer;

}

#btnRound{
    color:white;
    background-color: lightcoral;
    margin: auto;
    width: 100px;
    margin-left: 1550px;
    margin-top: 400px;
    padding: 15px;
    position:absolute;
    font-family: magicmedieval;
    cursor: pointer;

}

#btnControls{
    /* color:white; */
    font-size: 40px;
    background-color: black;
    margin: auto;
    cursor: pointer;
    width: 100px;
    margin-left: 10px;
    margin-top: 40px;
    padding: 15px;
    position:absolute;
    font-family: magicmedieval;
}

.container{
    background:black;
    position:relative;
  }

/* #btnStart{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 16px;
} */

#idiomaButton{
    float: right;
    margin-top: 0px;
    margin-right: 150px;
}

.btnIdioma{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#3d7ac4 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    background-color: black;
    /* background-image: url("../images/background.jpg"); */
    margin-left: 10px;
    margin-top: 5px;
}
.btnIdioma:focus {
    box-shadow: #a9a9f3 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #acacfc 0 -3px 0 inset;
  }
  
.btnIdioma:active {
    box-shadow: #b1b1ff 0 3px 7px inset;
    transform: translateY(2px);

}

#forgetbtn{
    color: #d9c6ee;
    text-decoration: underline;
}

#btnregister{
    color: #d9c6ee;
    text-decoration: underline;
}

a{
    color: #d9c6ee;
    text-decoration: underline;
}


/* Botones de Control de Mazos y Player */

#btn_add_deck{
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#btn_remove_deck{
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#btn_edit_deck{
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#btn_add_player{
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#btn_remove_player{
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#btn_edit_player{
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#editPlayerSection{
    justify-content: center;
}

#btnPlayer_edit{
    margin-left: 20px;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;

}

#btnAdmin_edit{
    margin-left: 30px;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;

}



#PlayerEditText{
    font-size: 1em;
    color: white;
    /* background-color: yellow; */
}