#gameScreen{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    background-image: url("../images/Mesa.png");

}

html {
    background-color: white;
}

#adminScreen {
    padding-top: 100px;
    padding-left: 60px;
}

#dechControl {
    text-align: center;
    padding-left: 50px;
    padding-top: 0px;
}

#adminCanvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
    width: 1664px; 
    height: 936px; 
    border: 3px solid rgb(0, 0, 0);
}

#adminName{
    font-size: 60px;
    padding-left: 22px;
}
